@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-glass {
    @apply bg-base-300/30 backdrop-blur;
  }
}

html,
body,
#__next {
  min-height: 100vh;
  min-height: 100dvh;
}

.bg-radial {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

[data-test-id="virtuoso-item-list"] > div:last-child > div {
  border: none;
}

/* google maps autocomplete related styling */
.pac-container {
  background-color: #1b2735;
  border: none;
  /* display: block !important; */
}

.pac-item {
  color: #94d2ff;
  border-top: black;
}

.pac-item:hover {
  background-color: #5bbaff;
  color: #1b2735;
  cursor: pointer;
}

.pac-item-query {
  color: #5bbaff;
}

.pac-item:hover .pac-item-query {
  color: black;
}

.pac-item:hover .pac-icon {
  filter: invert(1);
}
