@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  min-height: 100vh;
  min-height: 100dvh;
}

.bg-radial {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.bg-glass {
  @apply bg-transparent backdrop-blur-sm;
}

/* google maps autocomplete related styling */
.pac-container {
  background-color: #1b2735;
  border: none;
  /* display: block !important; */
}

.pac-item {
  color: #94d2ff;
  border-top: black;
}

.pac-item:hover {
  background-color: #5bbaff;
  color: #1b2735;
  cursor: pointer;
}

.pac-item-query {
  color: #5bbaff;
}

.pac-item:hover .pac-item-query {
  color: black;
}

.pac-item:hover .pac-icon {
  filter: invert(1);
}

.auto-expand-textarea {
  transition: height 0.2s ease;
}
